.nav-flex-container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    border:1px solid blue;
    padding: 1em;
    
}

.flex-item {
    font-weight: 1.5rem;
    background-color: #f8bf15d6;
    border: 0px solid yellow;
    padding: 0.7em;
    color: #ca6160;
}

